
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 .inter-font{
    font-style: inter, sans-serif;
 }

.noto-serif-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item{
    display: flex;
    gap: 48px;


}
.list-item li{
    list-style: none;
}

.list-item li a{
    text-decoration: none;
    color: #8987A1;
    
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 282px;
    gap: 13px;
    
}

.banner-title{
    font-size: 4.14rem;
    font-weight: bold;
    
}

.banner-title span{
    color: #E95A08;
}
.banner-description{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}


.plant-section-content p{
    font-size: 1.3rem;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.5);
    /* max-width: 1100px; */
    
}

.plant-section-content{
    text-align: center;

    justify-items: center;
}
.plant-title {
    font-size: 3.1rem;
    font-weight: bold;
}
.plant-section-content h2 span{
    color: #E95A08;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.card p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #111111;
    margin: 0;
   

}
.plant-h2{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    
}
.card {
  text-align: center;
  /* padding: 20px; */
  /* border: 1px solid #eee; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
  background-color: #fff;
margin: 20px 28px;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;

}

.card p {
  font-size: 1.4rem;
      color: #111111;

  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.4rem;
  margin-bottom: 12px; 
}

.btn {
  padding: 10px 20px;
  background-color:#E95A08;
  color: white;
  border: none;
  /* border-radius: 5px; */
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 1rem;
  cursor: pointer;
  width: 250px;
}


.Plants-Lover{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 210px;
}
.lover h2{
    font-size: 50px;
    font-weight: bold;
}
.lover-content ul li{
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
   margin-bottom: 20px;
}
.lover-img img{
    position: relative;
    width: 540px;
    height: 597px;
}
.lover-img .badge img{
    top: -100px;
    width: 286px;
    height: 886px;
position: absolute;
}
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
        margin-top: 28px;
    }
    .nav-list{
        display: none;

        
    }
    .plant-card{
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
 
    
}
.btn{
    width: 100%;
}
.banner-img img{
    width: 100%;
}
}